<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><i class="material-icons">copyright</i>2016 DMZ Easy Rider</a>
            <a class="navbar-brand" href="mailto:haimotorider@gmail.com?Subject=Book%20Tour%20-%20"><i class="material-icons">email</i> haimotorider@gmail.com</a>
            <a class="navbar-brand" href="#"><i class="material-icons">contact_phone</i> Mr.Hai +84 905 223 155</a>
        </div>
    </div>
</nav>