<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">DMZ Easy Rider</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
      <div class="container">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a ui-sref="tours" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tours<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="hue-city-tours">Hue City Tours<span class="badge header">2</span></a></li>
						<li><a ui-sref="explore-the-dmz">Explore the DMZ<span class="badge header">5</span></a></li>
						<li><a ui-sref="hue-hoi-an">Hue - Hoi An<span class="badge header">3</span></a></li>
						<li><a ui-sref="hue-to-other-places">Hue to other places<span class="badge header">2</span></a></li>
						<li class="divider"></li>
						<li><a ui-sref="build-your-own-tour">Build your own tour</a></li>
						<li><a ui-sref="tours">View all tours<span class="badge header">12</span></a></li>
					</ul>
				</li>
				<li><a ui-sref="photo-gallery">Photos Gallery</a></li>
				<li><a ui-sref="guest-book">Guest Book</a></li>
				<li><a ui-sref="hue-gastronomy">Hue Gastronomy</a></li>
				<li><a ui-sref="book-tour">Book Tour</a></li>
				<li class="dropdown">
					<a ui-sref="about-us" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="tripadvisor-certificate">Trip Advisor's Certificate</a></li>
						<li><a href="http://www.tripadvisor.com/Attraction_Review-g293926-d2228339-Reviews-DMZ_EasyRider_Private_Days_Tour-Hue_Thua_Thien_Hue_Province.html">Find us on Trip Advisor</a></li>
					</ul>
				</li>
			</ul>
      </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>